polkit.addRule(function(action, subject) {
    if (action.id == "com.zoneminder.policykit.pkexec.run-zmsystemctl" &&
        subject.user != "apache") {
        return polkit.Result.NO;
    }

});
