#filterSelector {
}

table.filterTable {
    margin: 0 auto;
    empty-cells: show;
    border-collapse: separate;
    border-spacing: 5px 2px;
}

#fieldsTable td:first-of-type {
    width: 4.5em;
}

#fieldsTable input[type=button] {
    width: 1.8em;
    margin-left: 2px;
    padding: 5px;
    text-align: center;
}

#sortTable input[type=text] {
    margin-right: 4px;
}

#actionsTable input[type=text] {
    margin-left: 4px;
}

#actionsTable p {
  text-align: left;
}
#actionsTable label {
  width: 300px;
  text-align: right;
}
