#layout {
    margin-right: 10px;
}

#content {
    width: 99%;
}

#monitors .alarm {
    color: #ff0000;
}

#monitors .alert {
    color: #ffa500;
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: none;
}

#monitors .imageFeed {
    text-align: center;
    vertical-align: middle;
}

#monitors .imageFeed img {
    border: 2px solid #999999;
    display: block;
}

#monitors .imageFeed img.idle {
    border: 2px solid #999999;
}

#monitors .imageFeed img.alarm {
    border: 2px solid #ff0000;
}

#monitors .imageFeed img.alert {
    border: 2px solid #ffa500;
}

#monitors .monitorState {
    margin: 2px auto;
    text-align: center;
}
