#scaleControl {
  float: right;
}

#controls {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#controls a {
    width: 40px;
    margin-left: -20px;
}
