#logPanel .logPanel-table {
  overflow-y: auto;
  height: 100%;
}

.sticky #logPanel .logPanel-table .bootstrap-table {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: hidden;
}

.sticky #logPanel .logPanel-table .bootstrap-table .fixed-table-container {
  overflow-y: auto;
}

.sticky #logPanel .logPanel-table .bootstrap-table .fixed-table-container thead {
  position: sticky;
  top: -1px;
}
