.swatch {
    border: 1px solid black;
    margin-left: 3px;
    padding: 0px;
}

.SourceOptions input,
.SourcePath input {
  width: 100%;
}

textarea,
input[name="newMonitor[Name]"],
input[name="newMonitor[ControlDevice]"],
input[name="newMonitor[ControlAddress]"] {
  width: 100%;
}
input[name="newMonitor[Width]"],
input[name="newMonitor[Height]"] {
  width: 80px;
}
select.chosen {
  width: 100%;
}
