configure
config.h.in
config.h.in~
autom4te.cache
aclocal.m4
depcomp
install-sh
missing
mkinstalldirs
stamp-h1
stamp-h.in
scripts/ZoneMinder/blib
Makefile.in
Makefile
docs/_build
compile
config.guess
config.h
config.log
config.status
config.sub
db/zm_create.sql
misc/apache.conf
misc/com.zoneminder.systemctl.policy
misc/com.zoneminder.systemctl.rules
misc/logrotate.conf
misc/syslog.conf
onvif/modules/MYMETA.json
onvif/modules/MYMETA.yml
onvif/proxy/MYMETA.json
onvif/proxy/MYMETA.yml
scripts/ZoneMinder/Makefile.old
scripts/ZoneMinder/MYMETA.json
scripts/ZoneMinder/MYMETA.yml
scripts/ZoneMinder/lib/ZoneMinder/Base.pm
scripts/ZoneMinder/lib/ZoneMinder/Config.pm
scripts/ZoneMinder/lib/ZoneMinder/ConfigData.pm
scripts/ZoneMinder/lib/ZoneMinder/Memory.pm
scripts/ZoneMinder/pm_to_blib
scripts/zm
scripts/zmaudit.pl
scripts/zmcamtool.pl
scripts/zmcontrol.pl
scripts/zmdbbackup
scripts/zmdbrestore
scripts/zmdc.pl
scripts/zmeventdump
scripts/zmfilter.pl
scripts/zmlogrotate.conf
scripts/zmpkg.pl
scripts/zmsystemctl.pl
scripts/zmtrack.pl
scripts/zmtrigger.pl
scripts/zmupdate.pl
scripts/zmvideo.pl
scripts/zmwatch.pl
scripts/zmx10.pl
src/.deps/
src/*.o
src/zm_config.h
src/zm_config_defines.h
src/zma
src/zmc
src/zmf
src/zms
src/zmu
web/includes/config.php
zm.conf
zmconfgen.pl
