#exportLog label {
    vertical-align: middle;
}

#exportLog input[type=radio] {
    margin-right: 4px;
    vertical-align: middle;
}

#exportError {
    display: none;
    color: #dc143c;
    margin-bottom: 8px;
}

#exportErrorText {
}
