#settingsPanel {
    float: left;
    margin: 0 2px;
}

#settingsPanel input[type=submit] {
    margin: 8px 4px;
}

#pluginSettings {
    border-collapse: collapse;
}

#pluginSettings th, #pluginSettings td {
    border: 1px solid #7f7fb2;
    padding: 3px;
    text-align: left;
    vertical-align: middle;
}

#pluginSettings th[scope=row] {
    padding: 4px 3px 3px;
    vertical-align: top;
    white-space: nowrap;
}

table.listSetting {
    border-spacing: 3px!important;
    border-collapse: separate!important;
}

table.listSetting td {
    vertical-align: top!important;
    border: 0px!important;
    padding: 0px!important
}

table.listSetting input[type=text] {
    width: 96px
}

table.listSetting select {
    width: 100px;
}
