<div role="tabpanel" class="tab-pane" id="buffers">
	<div class="form-group">
		<label for="ImageBufferCount">Image Buffer Size</label>
		<input id="ImageBufferCount" type="text" class="form-control" ng-model="monitor.ImageBufferCount" required />
	</div>
	<div class="form-group">
		<label for="WarmupCount">Warmup Frames</label>
		<input id="WarmupCount" type="text" class="form-control" ng-model="monitor.WarmupCount" required />
	</div>
	<div class="form-group">
		<label for="PreEventCount">Pre Event Image Buffer</label>
		<input id="PreEventCount" type="text" class="form-control" ng-model="monitor.PreEventCount" required />
	</div>
	<div class="form-group">
		<label for="PostEventCount">Post Event Image Buffer</label>
		<input id="PostEventCount" type="text" class="form-control" ng-model="monitor.PostEventCount" required />
	</div>
	<div class="form-group">
		<label for="StreamReplayBuffer">Stream Replay Buffer</label>
		<input id="StreamReplayBuffer" type="text" class="form-control" ng-model="monitor.StreamReplayBuffer" required />
	</div>
	<div class="form-group">
		<label for="AlarmFrameCount">Alarm Frame Count</label>
		<input id="AlarmFrameCount" type="text" class="form-control" ng-model="monitor.AlarmFrameCount" required />
	</div>
</div>
