<div role="tabpanel" class="tab-pane" id="timestamp">
	<div class="form-group">
		<label for="labelFormat">Timestamp Label Format</label>
		<input type="text" id="labelFormat" class="form-control" ng-model="monitor.LabelFormat" required />
	</div>
	<div class="form-group">
		<label for="labelX">Timestamp Label X</label>
		<input type="text" id="labelX" class="form-control" ng-model="monitor.LabelX" required />
	</div>
	<div class="form-group">
		<label for="labelY">Timestamp Label Y</label>
		<input type="text" id="labelY" class="form-control" ng-model="monitor.LabelY" required />
	</div>
</div>
