.grid {
	display: flex;
	flex-wrap: wrap;
	margin:0px;
	padding: 0px;
}

.grid-cell {
	-moz-box-flex: 1;
	flex: 1 1 0%;
	margin: 0 5px;
	border: 1px solid #CCC;
	border-radius: 6px;
}

.monitor img {
	border-radius:6px 6px 0 0;
}

#addMonitor fieldset {
	margin-bottom:25px;
}

body {
	background: none repeat scroll 0% 0% #4E5969;
}

.nav-tabs {
//	background-image: linear-gradient(to right, transparent 50%, rgba(0, 0, 0, 0.3) 100%);
	background-image: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.3) 100%);
	padding-right: 0;
	padding-top: 15px;
	text-align: right;
	border: none;
}

.nav-tabs .active {
	background: none repeat scroll 0% 0% #4E5969;
}

.nav-tabs a {
	color: #FFF;
}

.nav-tabs li.active a {
	border: none;
	color: #FFF;
	background-color: inherit;
}


label {
	color: #FFF;
}
