body { padding-top: 70px; }

#footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	background-color: #F5F5F5;
}



/*On the flex container*/
.flexcontainer {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
	flex-wrap: wrap;
	align-items: baseline;
}

.event {
	float: left;
	width: 184px;
	margin: 5px;
}

.over {
	position: relative;
}

.info {
	background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.7);
	color: #FFF;
	position: absolute;
	padding:0 1px;
	bottom: 5px;
	font-size: 12px;
	width: 174px;
	left: 5px;
}

.sidebar {
	position: fixed;
	top: 51px;
	bottom: 0px;
	left: 0px;
	z-index: 1000;
	display: block;
	background-color: #F5F5F5;
	border-right: 1px solid #EEE;
}

#event-frames-stills {
	justify-content: center;
	height: 480px;
	overflow-y: scroll;
}

.frame {
	width: 23%;
	margin: 5px;
}

.frame .panel-heading, .frame .panel-body {
	padding: 5px;
}

.frame ul {
	padding-left: 0px;
	margin-left: -5px;
	list-style: outside none none;
	text-align: center;
}

.frame ul > li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}

body {
	background-color: #F5F5F5;
}
