<div role="tabpanel" class="form-horizontal tab-pane" id="control">


            <tr><td>Controllable</td><td><input type="checkbox" name="newMonitor[Controllable]" value="1"></td></tr>
            <tr><td>ControlType</td><td>
            <tr><td>ControlDevice</td><td><input type="text" name="newMonitor[ControlDevice]" value="" size="32"/></td></tr>
            <tr><td>ControlAddress</td><td><input type="text" name="newMonitor[ControlAddress]" value="" size="32"/></td></tr>
            <tr><td>AutoStopTimeout</td><td><input type="text" name="newMonitor[AutoStopTimeout]" value="" size="4"/></td></tr>
            <tr><td>TrackMotion</td><td><input type="checkbox" name="newMonitor[TrackMotion]" value="1" /></td></tr>
            <tr><td>TrackDelay</td><td><input type="text" name="newMonitor[TrackDelay]" value="" size="4"/></td></tr>
            <tr><td>ReturnLocation</td><td></td></tr>
            <tr><td>ReturnDelay</td><td><input type="text" name="newMonitor[ReturnDelay]" value="" size="4"/></td></tr>

</div>
