<div role="tabpanel" class="tab-pane" id="misc">

            <div class="form-group"><label>EventPrefix</label><input class="form-control" type="text" ng-model="monitor.EventPrefix" /></div>
            <div class="form-group"><label>Sectionlength</label><input class="form-control" type="text" ng-model="monitor.SectionLength" /></div>
            <div class="form-group"><label>FrameSkip</label><input class="form-control" type="text" ng-model="monitor.FrameSkip" /></div>
            <div class="form-group"><label>MotionFrameSkip</label><input class="form-control" type="text" ng-model="monitor.MotionFrameSkip" /></div>
            <div class="form-group"><label>FPSReportInterval</label><input class="form-control" type="text" ng-model="monitor.FPSReportInterval" /></div>
	<div class="form-group">
		<label>DefaultView</label>
		<select class="form-control" ng-model="monitor.DefaultView">
			<option value="Events" selected="selected">Events</option>
		</select>
	</div>
	<div class="form-group">
		<label>DefaultRate</label>
		<select ng-model="monitor.DefaultRate" name="newMonitor[DefaultRate]" id="newMonitor[DefaultRate]">
			<option value="10000">100x</option>
			<option value="5000">50x</option>
			<option value="2500">25x</option>
			<option value="1000">10x</option>
			<option value="400">4x</option>
			<option value="200">2x</option>
			<option value="100">Real</option>
			<option value="50">1/2x</option>
			<option value="25">1/4x</option>
		</select>
	</div>
	<div class="form-group">
		<label>DefaultScale</label>
		<select ng-model="monitor.DefaultScale" name="newMonitor[DefaultScale]" id="newMonitor[DefaultScale]">
			<option value="400">4x</option>
			<option value="300">3x</option>
			<option value="200">2x</option>
			<option value="150">1.5x</option>
			<option value="100">Actual</option>
			<option value="75">3/4x</option>
			<option value="50">1/2x</option>
			<option value="33">1/3x</option>
			<option value="25">1/4x</option>
		</select>
	</div>

	<div ng-show="monitor.Type == 'Local'" class="form-group">
		<label>Signal Check Colour</label>
		<input class="form-control" type="text" ng-model="monitor.SignalCheckColour" style="color: {{ monitor.SignalCheckColour }};" />
	</div>

	<div class="form-group">
		<label>Web Colour</label>
		<input class="form-control" type="text" ng-model="monitor.WebColour" style="color: {{ monitor.WebColour}};" required />
	</div>



	<div class="form-group">
		<label>LinkedMonitors</label>
		<select class="form-control" ng-model="monitor.monitorIds" multiple="multiple">
                </select>
	</div>

	<div class="form-group">
		<label>Triggers</label>
	</div>

</div>
