<div ng-show="monitor.Type == 'Libvlc' || monitor.Type == 'Ffmpeg'">
	<div class="form-group">
		<label>SourcePath</label>
		<input class="form-control" type="text" ng-model="monitor.Path" />
	</div>

	<div class="form-group">
		<label>RemoteMethod</label>
		<select ng-mdoel="monitor.Method">
			<option value="rtpUni">RTP/Unicast</option>
			<option value="rtpMulti">RTP/Multicast</option>
			<option value="rtpRtsp">RTP/RTSP</option>
			<option value="rtpRtspHttp">RTP/RTSP/HTTP</option>
		</select>
	</div>


	<div class="form-group">
		<label>Options</label>
		<input class="form-control" type="text" ng-model="monitor.Options" />
	</div>
</div>
