<div ng-show="monitor.Type == 'Local'">

	<div class="form-group">
		<label for="">DevicePath</label>
		<input type="text" class="form-control" ng-model="monitor.Device" ng-required="monitor.Type == 'Local'"/>
	</div>

	<div class="form-group">
		<label for="">CaptureMethod</label>
		<select class="form-control">
			<option value="v4l2">Video for Linux 2</option>
			<option value="v4l1">Video for Linux 1</option>
		</select>
	</div>

<div class="form-group">
	<label for="">DeviceChannel</label>
	<select ng-model="monitor.Channel">
	</select>
</div>

<div class="form-group">
	<label for="">DeviceFormat</label>
	<select ng-model="monitor.Format">
	</select>
</div>

<div class="form-group">
	<label for="">CapturePalette</label>
	<select ng-model="monitor.Palette">
	</select>
</div>

			<div class="radio">
			V4LMultiBuffer

		<label>
			<input type="radio" ng-model="monitor.V4LMultiBuffer" id="newMonitor[V4LMultiBuffer]1" value="1" />
			Yes
		</label>
		<label>
			<input type="radio" ng-model="monitor.V4LMultiBuffer" id="newMonitor[V4LMultiBuffer]0" value="0" />
			No
		</label>
		<label>
			<input type="radio" ng-model="monitor.V4LMultiBuffer" id="newMonitor[V4LMultiBuffer]" value="" />
			Use Config Value
		</label>
			</div>
			

	<div class="form-group">
		<label for="">V4LCapturesPerFrame</label>
		<input type="text" ng-model="monitor.V4LCapturesPerFrame" />
	</div>
</div> <!-- End local -->
