Package: zoneminder-ui-xml
Source: zoneminder
Version: 1.29.0-vivid-38
Architecture: all
Maintainer: Isaac Connor <iconnor@connortechnology.com>
Installed-Size: 102
Depends: zoneminder-ui-base (>= 1.29.0-vivid-38)
Section: web
Priority: optional
Description: XML interface for ZoneMinder
 ZoneMinder is a video camera security and surveillance solution.
 .
 This package provides a XML interface mainly intended for use with the eyeZm
 iPhone Application, but can be used with any other custom programs as well.
