#systemTime {
    float: left;
}

#title {
    margin: 0 auto;
    text-align: center;
    width: 50%;
}

#systemStats {
    float: right;
}

#monitorSummary {
    float: left;
    text-align: left;
    width: 20%;
}

#devices {
    float: left;
}

#loginBandwidth {
    margin: 0 auto;
    text-align: center;
    width: 40%;
}

#cycleMontage {
    float: right;
}

#options {
    float: right;
    text-align: right;
    width: 20%;
}

#consoleTable {
    width: 100%;
}

#consoleTable div.highlight {
    background-color: #eeeeee;
}

#consoleTable .thead .tr div {
    padding-bottom: 4px;
    vertical-align: middle;
}

#consoleTable .tfoot .tr div {
    padding-top: 4px;
    vertical-align: middle;
}

#consoleTable .tr div {
    height: 16px;
    text-align: left;
}

#consoleTable .colOrder {
    text-align: center;
}

#consoleTable .colMark {
    width: 32px;
    text-align: center;
}

#consoleTable .colEvents {
    text-align: right;
}

#consoleTable .colZones {
    text-align: right;
}

#consoleTable .colLeftButtons {
    text-align: left;
	min-width:300px;
}

#consoleTable .colLeftButtons input {
    margin-right: 24px;
}

#consoleTable .colRightButtons {
    text-align: right;
    padding-right: 8px;
	min-width: 150px;
}

#consoleTable .colRightButtons input {
    margin: 0 8px;
}

/*
 * Console table for the main event table
 */
#consoleTable {
display: table;
}

#consoleTable .tr {
	display: table-row;
}
#consoleTable .tr div {
	text-align: left;
	display: table-cell;
    padding: 5px;    
    border-bottom: 2px solid #f2f2f2;
}

#consoleTable input[type=button] {
    margin-right: 3px !important;
}

#consoleTable .tfoot {
	display: table-footer-group;
    background-color: #f2f2f2;  
}
#consoleTable .tbody {
	display: table-row-group;
}
#consoleTable .thead {
	display: table-header-group;
	text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 600;
}

