#systemTime {
	float: left;
}

#title {
	margin: 0 auto;
	text-align: center;
	width: 50%;
}

#systemStats {
	float: right;
}

#monitorSummary {
	float: left;
	text-align: left;
	width: 20%;
}

#devices {
	float: left;
}

#loginBandwidth {
	margin: 0 auto;
	text-align: center;
	width: 40%;
}

#cycleMontage {
	float: right;
}

#options {
	float: right;
	text-align: right;
	width: 20%;
}

#consoleTable {
	width: 100%;
	border-collapse: collapse;
display: table;
}

#consoleTable div.highlight {
	background-color: #eeeeee;
}

#consoleTable .thead .tr div {
	vertical-align: middle;
}

#consoleTable .MonitorInfo {
	display: table-cell;
	width: auto;
}
#consoleTable .MonitorInfo div {
	display: inline-block;
	text-align: left;
	width: 19%;
	padding: 5px 0;
}

#consoleTable .Events {
	display: table-cell;
	width: 381px;
}
#consoleTable .Events .Events {
	width: 50px;
}

#consoleTable .Events div {
	display: inline-block;
	padding-bottom: 0;
}

#consoleTable .tfoot .tr {
	padding-top: 4px;
}
#consoleTable .tfoot .tr div {
	vertical-align: middle;
}

#consoleTable .tr div {
}

#consoleTable .colOrder {
	width: 47px;
	text-align: center;
	display: table-cell;
}

#consoleTable .colMark {
	width: 32px;
	text-align: center;
	display: table-cell;
}

#consoleTable .colEvents {
	text-align: right;
}
#consoleTable .Hour {
	width: 35px;
}
#consoleTable .Day {
	width: 42px;
}
#consoleTable .Week {
	width: 42px;
}
#consoleTable .Month {
	width: 50px;
}
#consoleTable .Archived {
	width: 62px;
}

#consoleTable .colZones {
	width: 40px;
	text-align: right;
	display: table-cell;
}

#consoleTable .colLeftButtons {
	text-align: left;
	min-width:400px;
}

#consoleTable .colLeftButtons input {
	margin-right: 24px;
}

#consoleTable .colRightButtons {
	text-align: right;
	min-width: 158px;
	margin-right: -32px; 
}

#consoleTable .colRightButtons input {
	margin: 0 8px;
}

/*
 * Console table for the main event table
 */

#consoleTable .tr {
	display: table-row;
}

#consoleTable .Monitor {
	display: table-row;
}

#consoleTable .tr {
	padding: 5px 0;
	border-bottom: 2px solid #f2f2f2;
	line-height: auto;
}

#consoleTable input[type=button] {
	margin-right: 3px !important;
}

#consoleTable .tfoot {
	display: table-footer-group;
	background-color: #f2f2f2;  
}
#consoleTable .tbody {
	display: table-row-group;
}
#consoleTable .thead {
	display: table-header-group;
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: 600;
}

