/* Fullscreen */
#main-content {}
#main-content.fullscreen {padding-top:15px;}
#toggle-fullscreen {position:absolute;bottom:0px;right:0px;opacity:.5;padding:5px;cursor:pointer;}
#toggle-fullscreen:hover {opacity:1;}
/* End Fullscreen */


/* Bootstrap fixes */
@media (min-width: 1200px) {
  .container {
    max-width:100%;
  }
}
/* End Bootstrap fixes */

.monitor{
  margin: 5px;
}
