/*
 * Primary look and feel styles
 * Colours:
 *   general text a darkish blue #212445
 *
 */

body {
    color: #68697b;
    background-color: #f2f2f2;
}

h1 {
    color: #212445;
}

h2 {
    color: #212445;
}

h3 {
    color: #117AAd;
}

h4 {
    color: #117AAd;
}

p {
  /*
    color: #dddddd;
    */
}

th {
  color: #212445;
}

img.normal {
    border: #cccccc solid 1px;
}

hr {
  color: #cccccc;
  background-color: #cccccc;
}

ul.tabList li {
    color: #8f8fc2;
    border: #8f8fc2 solid 1px;
    background: #444444;
}

ul.tabList li:hover {
    background-color: #dddddd;
}

ul.tabList li.active {
    background-color: #222222;
    border-bottom: #8f8fc2 dotted 1px;
}

/*
 * Major league table for multiple inputs or presentation
 */

#content table.major tr.highlight {
    color: #1d2340;
    background-color: #bddfeb;
}

#content table.major th,
#content table.major td {
  /*
    border-bottom: 2px solid #8f8fc2;
    */
}

table.major tr {
  background-color: #dee5ed;
}

#content table > tbody > tr:hover
{
    background-color: #bddfeb;
}

.overlay {
    background-color: #222222;
}

.overlay .overlayHeader {
    color: #eeeeee;
    background-color: #070707;
}

.overlay fieldset {
    background-color: #222222;
}

.validation-advice {
    padding: 4px;
    color: #dc143c;
}

fieldset {
    border: 1px solid #dddddd;
}

/*
 * Behavior classes
 */
.alarm, .errorText {
    color: #dc143c;
}

.alert, .warnText {
    color: #ff8c00;
}

.ok, .infoText {
    color: #77a328;
}

.fakelink {
    color: #8f8fc2;
    cursor: pointer;
}

.fakelink:hover {
    color: #336699;
    text-decoration: none;
}

.table-tr-odd {
  /*
    background-color: #070707;
    */
}

#header {
    border-bottom: 1px solid #000000;
}

input, textarea, select, button, .btn-primary {
  background-color: #dee5ed;

  color: #212445;
}
button, input[type=button], input[type=submit], .btn-primary, .btn-primary:link {
  border: 1px solid #cccccc;

}
.btn-normal, .btn-normal:link {
  background-color: #dee5ed;
  border: 1px solid #dee5ed;
  color: #212445;
}
button:hover,
input[type=button]:hover,
input[type=submit]:hover,
.btn-primary:hover {
  background-color: #dee5ed;
}
/* PP - make it easy to identify disabled buttons */

button:disabled,
input[disabled],
input[type=button]:disabled,
input[type=submit]:disabled,
.btn-primary:disabled {
  /*
  color: #888888;
  background-color: #666666;
  border-color: #666666;
  */
}

#navbar-container {
  padding-left: 0px;
}
#navbar-one {
}
.navbar {
  margin-bottom: 0 !important;
  border-radius: 0;
  color: #03A9F4 !important;
  /*
  height: 195px;
  */
  background-color: #f2f2f2 !important;
  padding: 5px 273px 0 0;
}

.navbar-brand {
  position: absolute;
  top: 5px;
  right: 15px;
  width: 238px;
  height: 128px;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}
.navbar-brand a,
.navbar .navbar-brand a:visited {
  background-color: #f2f2f2;
  background-image: url('/zm/skins/classic/css/iiot/graphics/IIoTG_iMouse-Logo-Transparent-238x128.png');
  width: 238px;
  height: 128px;
  display: block;
}
#navbar-two {
  display: none;
}
#navbar-three {
  border-radius: 5px;
  border: 1px solid #cbcbcb;
  background-color: #ffffff !important;
  margin: 5px 278px 5px 5px;
  padding: 5px;
  flex-direction: row!important;
}
#navbar-three h2 {
  display: inline;
}
#main-header-nav {
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #cbcbcb;
  background-color: #ffffff !important;
  padding: 10px;
  width: 100%;
}
.nav-link {
  background-color: #95afc0;
  border-radius: 5px;
  margin: 5px;
  
}
#getRprtEvntAuditHTML,
#getSnapshotsHTML {
  display: none;
}

#content {
  border-radius: 5px;
  border: 1px solid #cbcbcb;
  background-color: #ffffff !important;
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
  width: auto;
}
#sidebar {
  background-color: #bfccd4;
}
.sidebar {
  border-right: 1px solid #eeeeee;
  background-color: #bfccd4;
}

.row {
  margin: 0;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  /*
  color: #eeeeee;
  */
  background-color: #ffffff !important;
}

.table tr ,
table.major tr {
  background-color: #dee5ed;
  margin: 4px 0;
  border-top: 8px solid #ffffff;
  border-bottom: 8px solid #ffffff;
  border-radius: 2px;
  border-collapse: separate;
  border-spacing: 0 1em;
}
.table thead tr th,
table.major thead tr th {
  padding-top: 10px;
  padding-bottom: 10px;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: #dee5ed;
}

.table-hover > tbody > tr:hover {
  /*
  color: orange;
  */
  background-color: #bddfeb;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #ffa801;
  background-color: #333333;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: #70a6ca;
}

/* Override chosen for dark theme */
/*
.chosen-single,
.chosen-container,
.chosen-container-multi,
.chosen-results,
.chosen-search,
.chosen-drop,
.chosen-choices,
li.search-choice {
    font-size: inherit !important;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(20%,#555),color-stop(50%,#464646),color-stop(52%,#444),to(#545454)) !important;
    background: linear-gradient(#555 20%,#464646 50%,#444 52%,#545454 100%) !important;
    background-color: #444444 !important;
    color: #eee !important;
    -webkit-box-shadow: none !important;
    background-image: none !important;
}
*/
/* end chosen override */

.modal-content {
    background-color: #bfccd4;
}

ul.nav.nav-pills.flex-column {
    background-color:  #bfccd4; 
}

.thead-highlight {
    background-color:#ffffff;
}

a:visited {
  color: #212445;
}

a,
a:link,
a.nav-link:visited {
  /*
  background-color: #dee5ed;
  */
  color: #212445;
}
a.nav-link,
a.nav-link:visited {
  background-color: #dee5ed;
}
a:hover {
  background-color: #70a6ca;
  color: white;
}
#getAccountCircleHTML {
  padding: 0;
}
.nav a,
#logoutButton,
#stateModalBtn,
#shutdownButton {
  margin: 5px;
  padding: 8px;
  line-height: 18px;
  vertical-align: middle;
  display: inline-block;
}
