<nav class="navbar navbar-default" role="navigation" ng-controller="HeaderController">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainNav">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" ui-sref="home">ZoneMinder</a>
		</div>
		
		
		<div class="collapse navbar-collapse" id="mainNav">	
			<ul class="nav navbar-nav navbar-right">
				<li><a ui-sref="monitor.list">Monitors</a></li>
				<li><a ui-sref="events">Events</a></li>
				<li><a href="?view=timeline">Timeline</a></li>
				<li><a ui-sref="options">Options</a></li>
				<li><a href="?view=log">Logs</span></a></li>
				<li><a href="?view=devices">Devices</a></li>
				<li><a href="?view=host">Host</a></li>
				<li>
					<button type="button" class="btn navbar-btn" ng-class="isRunning ? 'btn-success' : 'btn-danger'" data-toggle="modal" data-target="#myModal">
						<span class="glyphicon glyphicon-off"></span>
					</button>
				</li>
			</ul>
		</div> <!-- End #mainNav -->
	</div>
</nav>
<div ng-include="'/views/state.html'"></div>
