<div>
<h2>Monitor Detail</h2>

<div class="row">
		<form ng-submit="submitMonitor(formMonitor.$valid)" name="formMonitor" novalidate>
			<div class="col-md-2">
				<ul class="nav nav-pills nav-stacked">
					<li><a ui-sref="monitor.detail.general">General</a></li>
					<li><a ui-sref="monitor.detail.source">Source</a></li>
					<li><a ui-sref="monitor.detail.timestamps">Timestamps</a></li>
					<li><a ui-sref="monitor.detail.buffers">Buffers</a></li>
					<li><a ui-sref="monitor.detail.misc">Misc</a></li>
				</ul>

				<button type="submit" class="btn btn-success btn-block" ng-disabled="formMonitor.$invalid">Save</button>
			</div>

			<div class="col-md-10">
					<div ui-view class="tab-pane"> </div>
			</div>
		</form>

</div>

</div>
