<div class="container-fluid">
<div class="row">

<div class="col-md-5">
<form class="form-horizontal">
	<div class="form-group">
		<label class="col-sm-3 control-label" for="Name">Name</label>
		<div class="col-sm-8"> <input class="form-control" ng-model="zone.Name" id="Name" type="text" required> </div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-3 control-label" for="Type">Type</label>
		<div class="col-sm-8">
			<select class="form-control" ng-model="zone.Type" id="Type">
				<option value="Active">Active</option>
				<option value="Inclusive">Inclusive</option>
				<option value="Exclusive">Exclusive</option>
				<option value="Preclusive">Preclusive</option>
				<option value="Inactive">Inactive</option>
			</select>
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-3 control-label" for="presetSelector">Preset</label>
		<div class="col-sm-8">
			<select class="form-control" ng-model="zone.presetSelector" id="presetSelector">
				<option value="1">Default</option>
				<option value="2">Fast, low sensitivity</option>
				<option value="3">Fast, medium sensitivity</option>
				<option value="4">Fast, high sensitivity</option>
				<option value="5">Best, low sensitivity</option>
				<option value="6">Best, medium sensitivity</option>
				<option value="7">Best, high sensitivity</option>
			</select>
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-3 control-label" for="Units">Units</label>
		<div class="col-sm-8">
			<select class="form-control" ng-model="zone.Units" id="Units">
				<option value="Pixels">Pixels</option>
				<option value="Percent">Percent</option>
			</select>
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-3 control-label">Alarm Colour (Red/Green/Blue)</label>
		<div class="col-sm-2"> <input class="form-control" ng-model="zone.newAlarmRgbR" type="text"> </div>
		<div class="col-sm-2"> <input class="form-control" ng-model="zone.newAlarmRgbG" type="text"> </div>
		<div class="col-sm-2"> <input class="form-control" ng-model="zone.newAlarmRgbB" type="text"> </div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-3 control-label" for="CheckMethod">Alarm Check Method</label>
		<div class="col-sm-8">
			<select class="form-control" ng-model="zone.CheckMethod" id="CheckMethod">
				<option value="AlarmedPixels">AlarmedPixels</option>
				<option value="FilteredPixels">FilteredPixels</option>
				<option value="Blobs">Blobs</option>
			</select>
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-3 control-label">Min/Max Pixel Threshold (0-255)</label>
		<div class="col-sm-2"> <input class="form-control" ng-model="zone.MinPixelThreshold" type="text"> </div>
		<div class="col-sm-2"> <input class="form-control" ng-model="zone.MaxPixelThreshold" type="text"> </div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-3 control-label">Filter Width/Height (pixels)</label>
		<div class="col-sm-2"><input class="form-control" ng-model="zone.FilterX" type="text"> </div>
		<div class="col-sm-2"><input class="form-control" ng-model="zone.FilterY" type="text"> </div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-3 control-label">Zone Area</label>
		<div class="col-sm-2"> <input class="form-control" ng-model="zone.TempArea" type="text" disabled> </div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-3 control-label">Min/Max Alarmed Area</label>
		<div class="col-sm-2"><input class="form-control" ng-model="zone.MinAlarmPixels" type="text"> </div>
		<div class="col-sm-2"><input class="form-control" ng-model="zone.MaxAlarmPixels" type="text"> </div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-3 control-label">Min/Max Filtered Area</label>
		<div class="col-sm-2"><input class="form-control" ng-model="zone.MinFilterPixels" type="text"> </div>
		<div class="col-sm-2"><input class="form-control" ng-model="zone.MaxFilterPixels" type="text"> </div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-3 control-label">Min/Max Blob Area</label>
		<div class="col-sm-2"><input class="form-control" ng-model="zone.MinBlobPixels" type="text"> </div>
		<div class="col-sm-2"><input class="form-control" ng-model="zone.MaxBlobPixels" type="text"> </div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-3 control-label">Min/Max Blobs</label>
		<div class="col-sm-2"><input class="form-control" ng-model="zone.MinBlobs" type="text"> </div>
		<div class="col-sm-2"><input class="form-control" ng-model="zone.MaxBlobs" type="text"> </div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-3 control-label">Overload Frame Ignore Count</label>
		<div class="col-sm-2"> <input class="form-control" ng-model="zone.OverloadFrames" type="text"> </div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-3 control-label">Extend Alarm Frame Count</label>
		<div class="col-sm-2"> <input class="form-control" disabled="" ng-model="zone.ExtendAlarmFrames" type="text"> </div>
	</div>
</form>
</div> <!-- End .col-md-5 -->

<div class="col-md-7">
<div class="well center-block">
	<img class="img-responsive" ng-src="/images/Zones{{ zone.MonitorId }}.jpg" alt="Zone Image" />
</div>
</div> <!-- End .col-md-6 -->

</div> <!-- End .row -->
</div> <!-- End .container-fluid -->
