#!/bin/sh
# config maintainer script for zoneminder

set -x

# Source the debconf stuff
. /usr/share/debconf/confmodule

CONFIGFILE=/etc/zm/zm.conf

# Ask the user if debconf shall be used to configure the package
db_set zoneminder/debconf_install true
db_input high zoneminder/debconf_install || true
db_go || true

# Exit if the user didn't want to use debconf
db_get zoneminder/debconf_install
if [ "$RET" = false ]; then
    exit 0
fi

# Source the config file if exists
if [ -e $CONFIGFILE ]; then
    . $CONFIGFILE || true
else
    # Exit if no config file
    exit 0
fi

if [ "$ZM_DB_TYPE" = mysql ]; then
    # Check if the database server exists on the local machine
    # If no, ask the user if this is intentional (remote database server)
    if [ ! -e "/usr/sbin/mysqld" ]; then
        db_input high zoneminder/debconf_dbremote || true
        db_go || true
        db_get zoneminder/debconf_dbremote
        if [ "$RET" = false ]; then
            # Exit if the user forgot to install the database server
            exit 0
        fi
    fi
fi

if [ -f /usr/share/dbconfig-common/dpkg/config ]; then
    # Set the first version in which dbconfig-common was introduced in the package
    dbc_first_version="1.28.0"

    # Initialize debconf with data from ZoneMinder
    dbc_dbtypes="$ZM_DB_TYPE"
    dbc_dbserver="$ZM_DB_HOST"
    dbc_dbname="$ZM_DB_NAME"
    dbc_dbuser="$ZM_DB_USER"
    dbc_dbpass="$ZM_DB_PASS"

    # Source the dbconfig-common stuff
    . /usr/share/dbconfig-common/dpkg/config

    # Ask the user for all other settings about the database
    dbc_go zoneminder $@
fi

# Ask the user for the administrator login and password
db_input high zoneminder/admin_login || true
db_input high zoneminder/admin_password || true
db_go || true

# Ask the user for the web server(s) to configure
db_input high zoneminder/webserver || true
db_go || true

exit 0
