<div class="form-group">
  <label for="ZM_ADD_JPEG_COMMENTS" class=
  "control-label col-md-4">ZM_ADD_JPEG_COMMENTS</label>

  <div class="col-md-6">
    <input id="ZM_ADD_JPEG_COMMENTS" type="checkbox" ng-change=
    "updateConfig('13', 'ZM_ADD_JPEG_COMMENTS')" ng-model=
    "myModel.configData['ZM_ADD_JPEG_COMMENTS']" ng-true-value=
    "'1'" ng-false-value="'0'">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_COLOUR_JPEG_FILES" class=
  "control-label col-md-4">ZM_COLOUR_JPEG_FILES</label>

  <div class="col-md-6">
    <input id="ZM_COLOUR_JPEG_FILES" type="checkbox" ng-change=
    "updateConfig('12', 'ZM_COLOUR_JPEG_FILES')" ng-model=
    "myModel.configData['ZM_COLOUR_JPEG_FILES']" ng-true-value=
    "'1'" ng-false-value="'0'">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_FFMPEG_FORMATS" class=
  "control-label col-md-4">ZM_FFMPEG_FORMATS</label>

  <div class="col-md-6">
    <input id="ZM_FFMPEG_FORMATS" type="text" ng-change=
    "updateConfig('41', 'ZM_FFMPEG_FORMATS')" ng-model=
    "myModel.configData['ZM_FFMPEG_FORMATS']" class="form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_FFMPEG_INPUT_OPTIONS" class=
  "control-label col-md-4">ZM_FFMPEG_INPUT_OPTIONS</label>

  <div class="col-md-6">
    <input id="ZM_FFMPEG_INPUT_OPTIONS" type="text" ng-change=
    "updateConfig('39', 'ZM_FFMPEG_INPUT_OPTIONS')" ng-model=
    "myModel.configData['ZM_FFMPEG_INPUT_OPTIONS']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_FFMPEG_OPEN_TIMEOUT" class=
  "control-label col-md-4">ZM_FFMPEG_OPEN_TIMEOUT</label>

  <div class="col-md-6">
    <input id="ZM_FFMPEG_OPEN_TIMEOUT" type="text" ng-change=
    "updateConfig('42', 'ZM_FFMPEG_OPEN_TIMEOUT')" ng-model=
    "myModel.configData['ZM_FFMPEG_OPEN_TIMEOUT']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_FFMPEG_OUTPUT_OPTIONS" class=
  "control-label col-md-4">ZM_FFMPEG_OUTPUT_OPTIONS</label>

  <div class="col-md-6">
    <input id="ZM_FFMPEG_OUTPUT_OPTIONS" type="text" ng-change=
    "updateConfig('40', 'ZM_FFMPEG_OUTPUT_OPTIONS')" ng-model=
    "myModel.configData['ZM_FFMPEG_OUTPUT_OPTIONS']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_JPEG_ALARM_FILE_QUALITY" class=
  "control-label col-md-4">ZM_JPEG_ALARM_FILE_QUALITY</label>

  <div class="col-md-6">
    <input id="ZM_JPEG_ALARM_FILE_QUALITY" type="text" ng-change=
    "updateConfig('15', 'ZM_JPEG_ALARM_FILE_QUALITY')" ng-model=
    "myModel.configData['ZM_JPEG_ALARM_FILE_QUALITY']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_JPEG_FILE_QUALITY" class=
  "control-label col-md-4">ZM_JPEG_FILE_QUALITY</label>

  <div class="col-md-6">
    <input id="ZM_JPEG_FILE_QUALITY" type="text" ng-change=
    "updateConfig('14', 'ZM_JPEG_FILE_QUALITY')" ng-model=
    "myModel.configData['ZM_JPEG_FILE_QUALITY']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_JPEG_STREAM_QUALITY" class=
  "control-label col-md-4">ZM_JPEG_STREAM_QUALITY</label>

  <div class="col-md-6">
    <input id="ZM_JPEG_STREAM_QUALITY" type="text" ng-change=
    "updateConfig('17', 'ZM_JPEG_STREAM_QUALITY')" ng-model=
    "myModel.configData['ZM_JPEG_STREAM_QUALITY']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_MPEG_LIVE_FORMAT" class=
  "control-label col-md-4">ZM_MPEG_LIVE_FORMAT</label>

  <div class="col-md-6">
    <input id="ZM_MPEG_LIVE_FORMAT" type="text" ng-change=
    "updateConfig('19', 'ZM_MPEG_LIVE_FORMAT')" ng-model=
    "myModel.configData['ZM_MPEG_LIVE_FORMAT']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_MPEG_REPLAY_FORMAT" class=
  "control-label col-md-4">ZM_MPEG_REPLAY_FORMAT</label>

  <div class="col-md-6">
    <input id="ZM_MPEG_REPLAY_FORMAT" type="text" ng-change=
    "updateConfig('20', 'ZM_MPEG_REPLAY_FORMAT')" ng-model=
    "myModel.configData['ZM_MPEG_REPLAY_FORMAT']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_MPEG_TIMED_FRAMES" class=
  "control-label col-md-4">ZM_MPEG_TIMED_FRAMES</label>

  <div class="col-md-6">
    <input id="ZM_MPEG_TIMED_FRAMES" type="checkbox" ng-change=
    "updateConfig('18', 'ZM_MPEG_TIMED_FRAMES')" ng-model=
    "myModel.configData['ZM_MPEG_TIMED_FRAMES']" ng-true-value=
    "'1'" ng-false-value="'0'">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_OPT_CAMBOZOLA" class=
  "control-label col-md-4">ZM_OPT_CAMBOZOLA</label>

  <div class="col-md-6">
    <input id="ZM_OPT_CAMBOZOLA" type="checkbox" ng-change=
    "updateConfig('22', 'ZM_OPT_CAMBOZOLA')" ng-model=
    "myModel.configData['ZM_OPT_CAMBOZOLA']" ng-true-value="'1'"
    ng-false-value="'0'">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_OPT_FFMPEG" class=
  "control-label col-md-4">ZM_OPT_FFMPEG</label>

  <div class="col-md-6">
    <input id="ZM_OPT_FFMPEG" type="checkbox" ng-change=
    "updateConfig('37', 'ZM_OPT_FFMPEG')" ng-model=
    "myModel.configData['ZM_OPT_FFMPEG']" ng-true-value="'1'"
    ng-false-value="'0'">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_PATH_CAMBOZOLA" class=
  "control-label col-md-4">ZM_PATH_CAMBOZOLA</label>

  <div class="col-md-6">
    <input id="ZM_PATH_CAMBOZOLA" type="text" ng-change=
    "updateConfig('23', 'ZM_PATH_CAMBOZOLA')" ng-model=
    "myModel.configData['ZM_PATH_CAMBOZOLA']" class="form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_PATH_FFMPEG" class=
  "control-label col-md-4">ZM_PATH_FFMPEG</label>

  <div class="col-md-6">
    <input id="ZM_PATH_FFMPEG" type="text" ng-change=
    "updateConfig('38', 'ZM_PATH_FFMPEG')" ng-model=
    "myModel.configData['ZM_PATH_FFMPEG']" class="form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_RAND_STREAM" class=
  "control-label col-md-4">ZM_RAND_STREAM</label>

  <div class="col-md-6">
    <input id="ZM_RAND_STREAM" type="checkbox" ng-change=
    "updateConfig('21', 'ZM_RAND_STREAM')" ng-model=
    "myModel.configData['ZM_RAND_STREAM']" ng-true-value="'1'"
    ng-false-value="'0'">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_RELOAD_CAMBOZOLA" class=
  "control-label col-md-4">ZM_RELOAD_CAMBOZOLA</label>

  <div class="col-md-6">
    <input id="ZM_RELOAD_CAMBOZOLA" type="text" ng-change=
    "updateConfig('24', 'ZM_RELOAD_CAMBOZOLA')" ng-model=
    "myModel.configData['ZM_RELOAD_CAMBOZOLA']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->
