<div class="form-group">
  <label for="ZM_WEB_P_AJAX_TIMEOUT" class=
  "control-label col-md-4">ZM_WEB_P_AJAX_TIMEOUT</label>

  <div class="col-md-6">
    <input id="ZM_WEB_P_AJAX_TIMEOUT" type="text" ng-change=
    "updateConfig('199', 'ZM_WEB_P_AJAX_TIMEOUT')" ng-model=
    "myModel.configData['ZM_WEB_P_AJAX_TIMEOUT']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_WEB_P_CAN_STREAM" class=
  "control-label col-md-4">ZM_WEB_P_CAN_STREAM</label>

  <div class="col-md-6">
    <select id="ZM_WEB_P_CAN_STREAM" ng-change=
    "updateConfig('192', 'ZM_WEB_P_CAN_STREAM')" class=
    "form-control" ng-model=
    "myModel.configData['ZM_WEB_P_CAN_STREAM']">
      <option value="auto">
        auto
      </option>

      <option value="yes">
        yes
      </option>

      <option value="no">
        no
      </option>
    </select>
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_WEB_P_DEFAULT_RATE" class=
  "control-label col-md-4">ZM_WEB_P_DEFAULT_RATE</label>

  <div class="col-md-6">
    <input id="ZM_WEB_P_DEFAULT_RATE" type="text" ng-change=
    "updateConfig('195', 'ZM_WEB_P_DEFAULT_RATE')" ng-model=
    "myModel.configData['ZM_WEB_P_DEFAULT_RATE']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_WEB_P_DEFAULT_SCALE" class=
  "control-label col-md-4">ZM_WEB_P_DEFAULT_SCALE</label>

  <div class="col-md-6">
    <input id="ZM_WEB_P_DEFAULT_SCALE" type="text" ng-change=
    "updateConfig('194', 'ZM_WEB_P_DEFAULT_SCALE')" ng-model=
    "myModel.configData['ZM_WEB_P_DEFAULT_SCALE']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_WEB_P_SCALE_THUMBS" class=
  "control-label col-md-4">ZM_WEB_P_SCALE_THUMBS</label>

  <div class="col-md-6">
    <input id="ZM_WEB_P_SCALE_THUMBS" type="checkbox" ng-change=
    "updateConfig('198', 'ZM_WEB_P_SCALE_THUMBS')" ng-model=
    "myModel.configData['ZM_WEB_P_SCALE_THUMBS']" ng-true-value=
    "'1'" ng-false-value="'0'">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_WEB_P_STREAM_METHOD" class=
  "control-label col-md-4">ZM_WEB_P_STREAM_METHOD</label>

  <div class="col-md-6">
    <select id="ZM_WEB_P_STREAM_METHOD" ng-change=
    "updateConfig('193', 'ZM_WEB_P_STREAM_METHOD')" class=
    "form-control" ng-model=
    "myModel.configData['ZM_WEB_P_STREAM_METHOD']">
      <option value="mpeg">
        mpeg
      </option>

      <option value="jpeg">
        jpeg
      </option>
    </select>
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_WEB_P_VIDEO_BITRATE" class=
  "control-label col-md-4">ZM_WEB_P_VIDEO_BITRATE</label>

  <div class="col-md-6">
    <input id="ZM_WEB_P_VIDEO_BITRATE" type="text" ng-change=
    "updateConfig('196', 'ZM_WEB_P_VIDEO_BITRATE')" ng-model=
    "myModel.configData['ZM_WEB_P_VIDEO_BITRATE']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_WEB_P_VIDEO_MAXFPS" class=
  "control-label col-md-4">ZM_WEB_P_VIDEO_MAXFPS</label>

  <div class="col-md-6">
    <input id="ZM_WEB_P_VIDEO_MAXFPS" type="text" ng-change=
    "updateConfig('197', 'ZM_WEB_P_VIDEO_MAXFPS')" ng-model=
    "myModel.configData['ZM_WEB_P_VIDEO_MAXFPS']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->
