<div class="form-group">
  <label for="ZM_OPT_X10" class=
  "control-label col-md-4">ZM_OPT_X10</label>

  <div class="col-md-6">
    <input id="ZM_OPT_X10" type="checkbox" ng-change=
    "updateConfig('69', 'ZM_OPT_X10')" ng-model=
    "myModel.configData['ZM_OPT_X10']" ng-true-value="'1'"
    ng-false-value="'0'">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_X10_DB_RELOAD_INTERVAL" class=
  "control-label col-md-4">ZM_X10_DB_RELOAD_INTERVAL</label>

  <div class="col-md-6">
    <input id="ZM_X10_DB_RELOAD_INTERVAL" type="text" ng-change=
    "updateConfig('72', 'ZM_X10_DB_RELOAD_INTERVAL')" ng-model=
    "myModel.configData['ZM_X10_DB_RELOAD_INTERVAL']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_X10_DEVICE" class=
  "control-label col-md-4">ZM_X10_DEVICE</label>

  <div class="col-md-6">
    <input id="ZM_X10_DEVICE" type="text" ng-change=
    "updateConfig('70', 'ZM_X10_DEVICE')" ng-model=
    "myModel.configData['ZM_X10_DEVICE']" class="form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_X10_HOUSE_CODE" class=
  "control-label col-md-4">ZM_X10_HOUSE_CODE</label>

  <div class="col-md-6">
    <input id="ZM_X10_HOUSE_CODE" type="text" ng-change=
    "updateConfig('71', 'ZM_X10_HOUSE_CODE')" ng-model=
    "myModel.configData['ZM_X10_HOUSE_CODE']" class="form-control">
  </div>
</div><!-- End .form-group -->
