<div class="form-group">
  <label for="ZM_EYEZM_DEBUG" class=
  "control-label col-md-4">ZM_EYEZM_DEBUG</label>

  <div class="col-md-6">
    <input id="ZM_EYEZM_DEBUG" type="checkbox" ng-change=
    "updateConfig('207', 'ZM_EYEZM_DEBUG')" ng-model=
    "myModel.configData['ZM_EYEZM_DEBUG']" ng-true-value="'1'"
    ng-false-value="'0'">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_EYEZM_EVENT_VCODEC" class=
  "control-label col-md-4">ZM_EYEZM_EVENT_VCODEC</label>

  <div class="col-md-6">
    <select id="ZM_EYEZM_EVENT_VCODEC" ng-change=
    "updateConfig('210', 'ZM_EYEZM_EVENT_VCODEC')" class=
    "form-control" ng-model=
    "myModel.configData['ZM_EYEZM_EVENT_VCODEC']">
      <option value="mpeg4">
        mpeg4
      </option>

      <option value="h264">
        h264
      </option>
    </select>
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_EYEZM_FEED_VCODEC" class=
  "control-label col-md-4">ZM_EYEZM_FEED_VCODEC</label>

  <div class="col-md-6">
    <select id="ZM_EYEZM_FEED_VCODEC" ng-change=
    "updateConfig('211', 'ZM_EYEZM_FEED_VCODEC')" class=
    "form-control" ng-model=
    "myModel.configData['ZM_EYEZM_FEED_VCODEC']">
      <option value="mjpeg">
        mjpeg
      </option>

      <option value="h264">
        h264
      </option>
    </select>
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_EYEZM_H264_DEFAULT_BR" class=
  "control-label col-md-4">ZM_EYEZM_H264_DEFAULT_BR</label>

  <div class="col-md-6">
    <input id="ZM_EYEZM_H264_DEFAULT_BR" type="text" ng-change=
    "updateConfig('212', 'ZM_EYEZM_H264_DEFAULT_BR')" ng-model=
    "myModel.configData['ZM_EYEZM_H264_DEFAULT_BR']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_EYEZM_H264_DEFAULT_EVBR" class=
  "control-label col-md-4">ZM_EYEZM_H264_DEFAULT_EVBR</label>

  <div class="col-md-6">
    <input id="ZM_EYEZM_H264_DEFAULT_EVBR" type="text" ng-change=
    "updateConfig('213', 'ZM_EYEZM_H264_DEFAULT_EVBR')" ng-model=
    "myModel.configData['ZM_EYEZM_H264_DEFAULT_EVBR']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_EYEZM_H264_TIMEOUT" class=
  "control-label col-md-4">ZM_EYEZM_H264_TIMEOUT</label>

  <div class="col-md-6">
    <input id="ZM_EYEZM_H264_TIMEOUT" type="text" ng-change=
    "updateConfig('214', 'ZM_EYEZM_H264_TIMEOUT')" ng-model=
    "myModel.configData['ZM_EYEZM_H264_TIMEOUT']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_EYEZM_LOG_FILE" class=
  "control-label col-md-4">ZM_EYEZM_LOG_FILE</label>

  <div class="col-md-6">
    <input id="ZM_EYEZM_LOG_FILE" type="text" ng-change=
    "updateConfig('209', 'ZM_EYEZM_LOG_FILE')" ng-model=
    "myModel.configData['ZM_EYEZM_LOG_FILE']" class="form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_EYEZM_LOG_TO_FILE" class=
  "control-label col-md-4">ZM_EYEZM_LOG_TO_FILE</label>

  <div class="col-md-6">
    <input id="ZM_EYEZM_LOG_TO_FILE" type="checkbox" ng-change=
    "updateConfig('208', 'ZM_EYEZM_LOG_TO_FILE')" ng-model=
    "myModel.configData['ZM_EYEZM_LOG_TO_FILE']" ng-true-value=
    "'1'" ng-false-value="'0'">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_EYEZM_SEG_DURATION" class=
  "control-label col-md-4">ZM_EYEZM_SEG_DURATION</label>

  <div class="col-md-6">
    <input id="ZM_EYEZM_SEG_DURATION" type="text" ng-change=
    "updateConfig('215', 'ZM_EYEZM_SEG_DURATION')" ng-model=
    "myModel.configData['ZM_EYEZM_SEG_DURATION']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->
