<div class="form-group">
  <label for="ZM_EMAIL_ADDRESS" class=
  "control-label col-md-4">ZM_EMAIL_ADDRESS</label>

  <div class="col-md-6">
    <input id="ZM_EMAIL_ADDRESS" type="text" ng-change=
    "updateConfig('105', 'ZM_EMAIL_ADDRESS')" ng-model=
    "myModel.configData['ZM_EMAIL_ADDRESS']" class="form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_EMAIL_BODY" class=
  "control-label col-md-4">ZM_EMAIL_BODY</label>

  <div class="col-md-6">
    <textarea id="ZM_EMAIL_BODY" ng-change=
    "updateConfig('108', 'ZM_EMAIL_BODY')" class="form-control"
    rows="3" ng-model="myModel.configData['ZM_EMAIL_BODY']">
</textarea>
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_EMAIL_HOST" class=
  "control-label col-md-4">ZM_EMAIL_HOST</label>

  <div class="col-md-6">
    <input id="ZM_EMAIL_HOST" type="text" ng-change=
    "updateConfig('115', 'ZM_EMAIL_HOST')" ng-model=
    "myModel.configData['ZM_EMAIL_HOST']" class="form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_EMAIL_SUBJECT" class=
  "control-label col-md-4">ZM_EMAIL_SUBJECT</label>

  <div class="col-md-6">
    <input id="ZM_EMAIL_SUBJECT" type="text" ng-change=
    "updateConfig('107', 'ZM_EMAIL_SUBJECT')" ng-model=
    "myModel.configData['ZM_EMAIL_SUBJECT']" class="form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_FROM_EMAIL" class=
  "control-label col-md-4">ZM_FROM_EMAIL</label>

  <div class="col-md-6">
    <input id="ZM_FROM_EMAIL" type="text" ng-change=
    "updateConfig('116', 'ZM_FROM_EMAIL')" ng-model=
    "myModel.configData['ZM_FROM_EMAIL']" class="form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_MESSAGE_ADDRESS" class=
  "control-label col-md-4">ZM_MESSAGE_ADDRESS</label>

  <div class="col-md-6">
    <input id="ZM_MESSAGE_ADDRESS" type="text" ng-change=
    "updateConfig('110', 'ZM_MESSAGE_ADDRESS')" ng-model=
    "myModel.configData['ZM_MESSAGE_ADDRESS']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_MESSAGE_BODY" class=
  "control-label col-md-4">ZM_MESSAGE_BODY</label>

  <div class="col-md-6">
    <textarea id="ZM_MESSAGE_BODY" ng-change=
    "updateConfig('113', 'ZM_MESSAGE_BODY')" class="form-control"
    rows="3" ng-model="myModel.configData['ZM_MESSAGE_BODY']">
</textarea>
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_MESSAGE_SUBJECT" class=
  "control-label col-md-4">ZM_MESSAGE_SUBJECT</label>

  <div class="col-md-6">
    <input id="ZM_MESSAGE_SUBJECT" type="text" ng-change=
    "updateConfig('112', 'ZM_MESSAGE_SUBJECT')" ng-model=
    "myModel.configData['ZM_MESSAGE_SUBJECT']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_NEW_MAIL_MODULES" class=
  "control-label col-md-4">ZM_NEW_MAIL_MODULES</label>

  <div class="col-md-6">
    <input id="ZM_NEW_MAIL_MODULES" type="checkbox" ng-change=
    "updateConfig('114', 'ZM_NEW_MAIL_MODULES')" ng-model=
    "myModel.configData['ZM_NEW_MAIL_MODULES']" ng-true-value="'1'"
    ng-false-value="'0'">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_OPT_EMAIL" class=
  "control-label col-md-4">ZM_OPT_EMAIL</label>

  <div class="col-md-6">
    <input id="ZM_OPT_EMAIL" type="checkbox" ng-change=
    "updateConfig('104', 'ZM_OPT_EMAIL')" ng-model=
    "myModel.configData['ZM_OPT_EMAIL']" ng-true-value="'1'"
    ng-false-value="'0'">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_OPT_MESSAGE" class=
  "control-label col-md-4">ZM_OPT_MESSAGE</label>

  <div class="col-md-6">
    <input id="ZM_OPT_MESSAGE" type="checkbox" ng-change=
    "updateConfig('109', 'ZM_OPT_MESSAGE')" ng-model=
    "myModel.configData['ZM_OPT_MESSAGE']" ng-true-value="'1'"
    ng-false-value="'0'">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_URL" class="control-label col-md-4">ZM_URL</label>

  <div class="col-md-6">
    <input id="ZM_URL" type="text" ng-change=
    "updateConfig('117', 'ZM_URL')" ng-model=
    "myModel.configData['ZM_URL']" class="form-control">
  </div>
</div><!-- End .form-group -->
