<div class="form-group">
  <label for="ZM_WEB_L_AJAX_TIMEOUT" class=
  "control-label col-md-4">ZM_WEB_L_AJAX_TIMEOUT</label>

  <div class="col-md-6">
    <input id="ZM_WEB_L_AJAX_TIMEOUT" type="text" ng-change=
    "updateConfig('191', 'ZM_WEB_L_AJAX_TIMEOUT')" ng-model=
    "myModel.configData['ZM_WEB_L_AJAX_TIMEOUT']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_WEB_L_CAN_STREAM" class=
  "control-label col-md-4">ZM_WEB_L_CAN_STREAM</label>

  <div class="col-md-6">
    <select id="ZM_WEB_L_CAN_STREAM" ng-change=
    "updateConfig('182', 'ZM_WEB_L_CAN_STREAM')" class=
    "form-control" ng-model=
    "myModel.configData['ZM_WEB_L_CAN_STREAM']">
      <option value="auto">
        auto
      </option>

      <option value="yes">
        yes
      </option>

      <option value="no">
        no
      </option>
    </select>
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_WEB_L_DEFAULT_RATE" class=
  "control-label col-md-4">ZM_WEB_L_DEFAULT_RATE</label>

  <div class="col-md-6">
    <input id="ZM_WEB_L_DEFAULT_RATE" type="text" ng-change=
    "updateConfig('185', 'ZM_WEB_L_DEFAULT_RATE')" ng-model=
    "myModel.configData['ZM_WEB_L_DEFAULT_RATE']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_WEB_L_DEFAULT_SCALE" class=
  "control-label col-md-4">ZM_WEB_L_DEFAULT_SCALE</label>

  <div class="col-md-6">
    <input id="ZM_WEB_L_DEFAULT_SCALE" type="text" ng-change=
    "updateConfig('184', 'ZM_WEB_L_DEFAULT_SCALE')" ng-model=
    "myModel.configData['ZM_WEB_L_DEFAULT_SCALE']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_WEB_L_EVENTS_VIEW" class=
  "control-label col-md-4">ZM_WEB_L_EVENTS_VIEW</label>

  <div class="col-md-6">
    <select id="ZM_WEB_L_EVENTS_VIEW" ng-change=
    "updateConfig('189', 'ZM_WEB_L_EVENTS_VIEW')" class=
    "form-control" ng-model=
    "myModel.configData['ZM_WEB_L_EVENTS_VIEW']">
      <option value="events">
        events
      </option>

      <option value="timeline">
        timeline
      </option>
    </select>
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_WEB_L_REFRESH_CYCLE" class=
  "control-label col-md-4">ZM_WEB_L_REFRESH_CYCLE</label>

  <div class="col-md-6">
    <input id="ZM_WEB_L_REFRESH_CYCLE" type="text" ng-change=
    "updateConfig('178', 'ZM_WEB_L_REFRESH_CYCLE')" ng-model=
    "myModel.configData['ZM_WEB_L_REFRESH_CYCLE']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_WEB_L_REFRESH_EVENTS" class=
  "control-label col-md-4">ZM_WEB_L_REFRESH_EVENTS</label>

  <div class="col-md-6">
    <input id="ZM_WEB_L_REFRESH_EVENTS" type="text" ng-change=
    "updateConfig('181', 'ZM_WEB_L_REFRESH_EVENTS')" ng-model=
    "myModel.configData['ZM_WEB_L_REFRESH_EVENTS']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_WEB_L_REFRESH_IMAGE" class=
  "control-label col-md-4">ZM_WEB_L_REFRESH_IMAGE</label>

  <div class="col-md-6">
    <input id="ZM_WEB_L_REFRESH_IMAGE" type="text" ng-change=
    "updateConfig('179', 'ZM_WEB_L_REFRESH_IMAGE')" ng-model=
    "myModel.configData['ZM_WEB_L_REFRESH_IMAGE']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_WEB_L_REFRESH_MAIN" class=
  "control-label col-md-4">ZM_WEB_L_REFRESH_MAIN</label>

  <div class="col-md-6">
    <input id="ZM_WEB_L_REFRESH_MAIN" type="text" ng-change=
    "updateConfig('177', 'ZM_WEB_L_REFRESH_MAIN')" ng-model=
    "myModel.configData['ZM_WEB_L_REFRESH_MAIN']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_WEB_L_REFRESH_STATUS" class=
  "control-label col-md-4">ZM_WEB_L_REFRESH_STATUS</label>

  <div class="col-md-6">
    <input id="ZM_WEB_L_REFRESH_STATUS" type="text" ng-change=
    "updateConfig('180', 'ZM_WEB_L_REFRESH_STATUS')" ng-model=
    "myModel.configData['ZM_WEB_L_REFRESH_STATUS']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_WEB_L_SCALE_THUMBS" class=
  "control-label col-md-4">ZM_WEB_L_SCALE_THUMBS</label>

  <div class="col-md-6">
    <input id="ZM_WEB_L_SCALE_THUMBS" type="checkbox" ng-change=
    "updateConfig('188', 'ZM_WEB_L_SCALE_THUMBS')" ng-model=
    "myModel.configData['ZM_WEB_L_SCALE_THUMBS']" ng-true-value=
    "'1'" ng-false-value="'0'">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_WEB_L_SHOW_PROGRESS" class=
  "control-label col-md-4">ZM_WEB_L_SHOW_PROGRESS</label>

  <div class="col-md-6">
    <input id="ZM_WEB_L_SHOW_PROGRESS" type="checkbox" ng-change=
    "updateConfig('190', 'ZM_WEB_L_SHOW_PROGRESS')" ng-model=
    "myModel.configData['ZM_WEB_L_SHOW_PROGRESS']" ng-true-value=
    "'1'" ng-false-value="'0'">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_WEB_L_STREAM_METHOD" class=
  "control-label col-md-4">ZM_WEB_L_STREAM_METHOD</label>

  <div class="col-md-6">
    <select id="ZM_WEB_L_STREAM_METHOD" ng-change=
    "updateConfig('183', 'ZM_WEB_L_STREAM_METHOD')" class=
    "form-control" ng-model=
    "myModel.configData['ZM_WEB_L_STREAM_METHOD']">
      <option value="mpeg">
        mpeg
      </option>

      <option value="jpeg">
        jpeg
      </option>
    </select>
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_WEB_L_VIDEO_BITRATE" class=
  "control-label col-md-4">ZM_WEB_L_VIDEO_BITRATE</label>

  <div class="col-md-6">
    <input id="ZM_WEB_L_VIDEO_BITRATE" type="text" ng-change=
    "updateConfig('186', 'ZM_WEB_L_VIDEO_BITRATE')" ng-model=
    "myModel.configData['ZM_WEB_L_VIDEO_BITRATE']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_WEB_L_VIDEO_MAXFPS" class=
  "control-label col-md-4">ZM_WEB_L_VIDEO_MAXFPS</label>

  <div class="col-md-6">
    <input id="ZM_WEB_L_VIDEO_MAXFPS" type="text" ng-change=
    "updateConfig('187', 'ZM_WEB_L_VIDEO_MAXFPS')" ng-model=
    "myModel.configData['ZM_WEB_L_VIDEO_MAXFPS']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->
