<div class="form-group">
  <label for="ZM_DUMP_CORES" class=
  "control-label col-md-4">ZM_DUMP_CORES</label>

  <div class="col-md-6">
    <input id="ZM_DUMP_CORES" type="checkbox" ng-change=
    "updateConfig('61', 'ZM_DUMP_CORES')" ng-model=
    "myModel.configData['ZM_DUMP_CORES']" ng-true-value="'1'"
    ng-false-value="'0'">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_LOG_ALARM_ERR_COUNT" class=
  "control-label col-md-4">ZM_LOG_ALARM_ERR_COUNT</label>

  <div class="col-md-6">
    <input id="ZM_LOG_ALARM_ERR_COUNT" type="text" ng-change=
    "updateConfig('57', 'ZM_LOG_ALARM_ERR_COUNT')" ng-model=
    "myModel.configData['ZM_LOG_ALARM_ERR_COUNT']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_LOG_ALARM_FAT_COUNT" class=
  "control-label col-md-4">ZM_LOG_ALARM_FAT_COUNT</label>

  <div class="col-md-6">
    <input id="ZM_LOG_ALARM_FAT_COUNT" type="text" ng-change=
    "updateConfig('58', 'ZM_LOG_ALARM_FAT_COUNT')" ng-model=
    "myModel.configData['ZM_LOG_ALARM_FAT_COUNT']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_LOG_ALARM_WAR_COUNT" class=
  "control-label col-md-4">ZM_LOG_ALARM_WAR_COUNT</label>

  <div class="col-md-6">
    <input id="ZM_LOG_ALARM_WAR_COUNT" type="text" ng-change=
    "updateConfig('56', 'ZM_LOG_ALARM_WAR_COUNT')" ng-model=
    "myModel.configData['ZM_LOG_ALARM_WAR_COUNT']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_LOG_ALERT_ERR_COUNT" class=
  "control-label col-md-4">ZM_LOG_ALERT_ERR_COUNT</label>

  <div class="col-md-6">
    <input id="ZM_LOG_ALERT_ERR_COUNT" type="text" ng-change=
    "updateConfig('54', 'ZM_LOG_ALERT_ERR_COUNT')" ng-model=
    "myModel.configData['ZM_LOG_ALERT_ERR_COUNT']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_LOG_ALERT_FAT_COUNT" class=
  "control-label col-md-4">ZM_LOG_ALERT_FAT_COUNT</label>

  <div class="col-md-6">
    <input id="ZM_LOG_ALERT_FAT_COUNT" type="text" ng-change=
    "updateConfig('55', 'ZM_LOG_ALERT_FAT_COUNT')" ng-model=
    "myModel.configData['ZM_LOG_ALERT_FAT_COUNT']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_LOG_ALERT_WAR_COUNT" class=
  "control-label col-md-4">ZM_LOG_ALERT_WAR_COUNT</label>

  <div class="col-md-6">
    <input id="ZM_LOG_ALERT_WAR_COUNT" type="text" ng-change=
    "updateConfig('53', 'ZM_LOG_ALERT_WAR_COUNT')" ng-model=
    "myModel.configData['ZM_LOG_ALERT_WAR_COUNT']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_LOG_CHECK_PERIOD" class=
  "control-label col-md-4">ZM_LOG_CHECK_PERIOD</label>

  <div class="col-md-6">
    <input id="ZM_LOG_CHECK_PERIOD" type="text" ng-change=
    "updateConfig('52', 'ZM_LOG_CHECK_PERIOD')" ng-model=
    "myModel.configData['ZM_LOG_CHECK_PERIOD']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_LOG_DATABASE_LIMIT" class=
  "control-label col-md-4">ZM_LOG_DATABASE_LIMIT</label>

  <div class="col-md-6">
    <input id="ZM_LOG_DATABASE_LIMIT" type="text" ng-change=
    "updateConfig('47', 'ZM_LOG_DATABASE_LIMIT')" ng-model=
    "myModel.configData['ZM_LOG_DATABASE_LIMIT']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_LOG_DEBUG" class=
  "control-label col-md-4">ZM_LOG_DEBUG</label>

  <div class="col-md-6">
    <input id="ZM_LOG_DEBUG" type="checkbox" ng-change=
    "updateConfig('48', 'ZM_LOG_DEBUG')" ng-model=
    "myModel.configData['ZM_LOG_DEBUG']" ng-true-value="'1'"
    ng-false-value="'0'">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_LOG_DEBUG_FILE" class=
  "control-label col-md-4">ZM_LOG_DEBUG_FILE</label>

  <div class="col-md-6">
    <input id="ZM_LOG_DEBUG_FILE" type="text" ng-change=
    "updateConfig('51', 'ZM_LOG_DEBUG_FILE')" ng-model=
    "myModel.configData['ZM_LOG_DEBUG_FILE']" class="form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_LOG_DEBUG_LEVEL" class=
  "control-label col-md-4">ZM_LOG_DEBUG_LEVEL</label>

  <div class="col-md-6">
    <input id="ZM_LOG_DEBUG_LEVEL" type="text" ng-change=
    "updateConfig('50', 'ZM_LOG_DEBUG_LEVEL')" ng-model=
    "myModel.configData['ZM_LOG_DEBUG_LEVEL']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_LOG_DEBUG_TARGET" class=
  "control-label col-md-4">ZM_LOG_DEBUG_TARGET</label>

  <div class="col-md-6">
    <input id="ZM_LOG_DEBUG_TARGET" type="text" ng-change=
    "updateConfig('49', 'ZM_LOG_DEBUG_TARGET')" ng-model=
    "myModel.configData['ZM_LOG_DEBUG_TARGET']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_LOG_LEVEL_DATABASE" class=
  "control-label col-md-4">ZM_LOG_LEVEL_DATABASE</label>

  <div class="col-md-6">
    <input id="ZM_LOG_LEVEL_DATABASE" type="text" ng-change=
    "updateConfig('46', 'ZM_LOG_LEVEL_DATABASE')" ng-model=
    "myModel.configData['ZM_LOG_LEVEL_DATABASE']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_LOG_LEVEL_FILE" class=
  "control-label col-md-4">ZM_LOG_LEVEL_FILE</label>

  <div class="col-md-6">
    <input id="ZM_LOG_LEVEL_FILE" type="text" ng-change=
    "updateConfig('44', 'ZM_LOG_LEVEL_FILE')" ng-model=
    "myModel.configData['ZM_LOG_LEVEL_FILE']" class="form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_LOG_LEVEL_SYSLOG" class=
  "control-label col-md-4">ZM_LOG_LEVEL_SYSLOG</label>

  <div class="col-md-6">
    <input id="ZM_LOG_LEVEL_SYSLOG" type="text" ng-change=
    "updateConfig('43', 'ZM_LOG_LEVEL_SYSLOG')" ng-model=
    "myModel.configData['ZM_LOG_LEVEL_SYSLOG']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_LOG_LEVEL_WEBLOG" class=
  "control-label col-md-4">ZM_LOG_LEVEL_WEBLOG</label>

  <div class="col-md-6">
    <input id="ZM_LOG_LEVEL_WEBLOG" type="text" ng-change=
    "updateConfig('45', 'ZM_LOG_LEVEL_WEBLOG')" ng-model=
    "myModel.configData['ZM_LOG_LEVEL_WEBLOG']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_RECORD_DIAG_IMAGES" class=
  "control-label col-md-4">ZM_RECORD_DIAG_IMAGES</label>

  <div class="col-md-6">
    <input id="ZM_RECORD_DIAG_IMAGES" type="checkbox" ng-change=
    "updateConfig('60', 'ZM_RECORD_DIAG_IMAGES')" ng-model=
    "myModel.configData['ZM_RECORD_DIAG_IMAGES']" ng-true-value=
    "'1'" ng-false-value="'0'">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_RECORD_EVENT_STATS" class=
  "control-label col-md-4">ZM_RECORD_EVENT_STATS</label>

  <div class="col-md-6">
    <input id="ZM_RECORD_EVENT_STATS" type="checkbox" ng-change=
    "updateConfig('59', 'ZM_RECORD_EVENT_STATS')" ng-model=
    "myModel.configData['ZM_RECORD_EVENT_STATS']" ng-true-value=
    "'1'" ng-false-value="'0'">
  </div>
</div><!-- End .form-group -->
