<div class="form-group">
  <label for="ZM_DIR_EVENTS" class=
  "control-label col-md-4">ZM_DIR_EVENTS</label>

  <div class="col-md-6">
    <input id="ZM_DIR_EVENTS" type="text" ng-change=
    "updateConfig('7', 'ZM_DIR_EVENTS')" ng-model=
    "myModel.configData['ZM_DIR_EVENTS']" class="form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_DIR_IMAGES" class=
  "control-label col-md-4">ZM_DIR_IMAGES</label>

  <div class="col-md-6">
    <input id="ZM_DIR_IMAGES" type="text" ng-change=
    "updateConfig('9', 'ZM_DIR_IMAGES')" ng-model=
    "myModel.configData['ZM_DIR_IMAGES']" class="form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_DIR_SOUNDS" class=
  "control-label col-md-4">ZM_DIR_SOUNDS</label>

  <div class="col-md-6">
    <input id="ZM_DIR_SOUNDS" type="text" ng-change=
    "updateConfig('10', 'ZM_DIR_SOUNDS')" ng-model=
    "myModel.configData['ZM_DIR_SOUNDS']" class="form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_PATH_LOGS" class=
  "control-label col-md-4">ZM_PATH_LOGS</label>

  <div class="col-md-6">
    <input id="ZM_PATH_LOGS" type="text" ng-change=
    "updateConfig('64', 'ZM_PATH_LOGS')" ng-model=
    "myModel.configData['ZM_PATH_LOGS']" class="form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_PATH_MAP" class=
  "control-label col-md-4">ZM_PATH_MAP</label>

  <div class="col-md-6">
    <input id="ZM_PATH_MAP" type="text" ng-change=
    "updateConfig('62', 'ZM_PATH_MAP')" ng-model=
    "myModel.configData['ZM_PATH_MAP']" class="form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_PATH_SOCKS" class=
  "control-label col-md-4">ZM_PATH_SOCKS</label>

  <div class="col-md-6">
    <input id="ZM_PATH_SOCKS" type="text" ng-change=
    "updateConfig('63', 'ZM_PATH_SOCKS')" ng-model=
    "myModel.configData['ZM_PATH_SOCKS']" class="form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_PATH_SWAP" class=
  "control-label col-md-4">ZM_PATH_SWAP</label>

  <div class="col-md-6">
    <input id="ZM_PATH_SWAP" type="text" ng-change=
    "updateConfig('65', 'ZM_PATH_SWAP')" ng-model=
    "myModel.configData['ZM_PATH_SWAP']" class="form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_PATH_ZMS" class=
  "control-label col-md-4">ZM_PATH_ZMS</label>

  <div class="col-md-6">
    <input id="ZM_PATH_ZMS" type="text" ng-change=
    "updateConfig('11', 'ZM_PATH_ZMS')" ng-model=
    "myModel.configData['ZM_PATH_ZMS']" class="form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_USE_DEEP_STORAGE" class=
  "control-label col-md-4">ZM_USE_DEEP_STORAGE</label>

  <div class="col-md-6">
    <input id="ZM_USE_DEEP_STORAGE" type="checkbox" ng-change=
    "updateConfig('8', 'ZM_USE_DEEP_STORAGE')" ng-model=
    "myModel.configData['ZM_USE_DEEP_STORAGE']" ng-true-value="'1'"
    ng-false-value="'0'">
  </div>
</div><!-- End .form-group -->
