<div class="form-group">
  <label for="ZM_WEB_ALARM_SOUND" class=
  "control-label col-md-4">ZM_WEB_ALARM_SOUND</label>

  <div class="col-md-6">
    <input id="ZM_WEB_ALARM_SOUND" type="text" ng-change=
    "updateConfig('74', 'ZM_WEB_ALARM_SOUND')" ng-model=
    "myModel.configData['ZM_WEB_ALARM_SOUND']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_WEB_COMPACT_MONTAGE" class=
  "control-label col-md-4">ZM_WEB_COMPACT_MONTAGE</label>

  <div class="col-md-6">
    <input id="ZM_WEB_COMPACT_MONTAGE" type="checkbox" ng-change=
    "updateConfig('75', 'ZM_WEB_COMPACT_MONTAGE')" ng-model=
    "myModel.configData['ZM_WEB_COMPACT_MONTAGE']" ng-true-value=
    "'1'" ng-false-value="'0'">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_WEB_EVENTS_PER_PAGE" class=
  "control-label col-md-4">ZM_WEB_EVENTS_PER_PAGE</label>

  <div class="col-md-6">
    <input id="ZM_WEB_EVENTS_PER_PAGE" type="text" ng-change=
    "updateConfig('142', 'ZM_WEB_EVENTS_PER_PAGE')" ng-model=
    "myModel.configData['ZM_WEB_EVENTS_PER_PAGE']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_WEB_EVENT_SORT_FIELD" class=
  "control-label col-md-4">ZM_WEB_EVENT_SORT_FIELD</label>

  <div class="col-md-6">
    <select id="ZM_WEB_EVENT_SORT_FIELD" ng-change=
    "updateConfig('140', 'ZM_WEB_EVENT_SORT_FIELD')" class=
    "form-control" ng-model=
    "myModel.configData['ZM_WEB_EVENT_SORT_FIELD']">
      <option value="Id">
        Id
      </option>

      <option value="Name">
        Name
      </option>

      <option value="Cause">
        Cause
      </option>

      <option value="MonitorName">
        MonitorName
      </option>

      <option value="DateTime">
        DateTime
      </option>

      <option value="Length">
        Length
      </option>

      <option value="Frames">
        Frames
      </option>

      <option value="AlarmFrames">
        AlarmFrames
      </option>

      <option value="TotScore">
        TotScore
      </option>

      <option value="AvgScore">
        AvgScore
      </option>

      <option value="MaxScore">
        MaxScore
      </option>
    </select>
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_WEB_EVENT_SORT_ORDER" class=
  "control-label col-md-4">ZM_WEB_EVENT_SORT_ORDER</label>

  <div class="col-md-6">
    <select id="ZM_WEB_EVENT_SORT_ORDER" ng-change=
    "updateConfig('141', 'ZM_WEB_EVENT_SORT_ORDER')" class=
    "form-control" ng-model=
    "myModel.configData['ZM_WEB_EVENT_SORT_ORDER']">
      <option value="asc">
        asc
      </option>

      <option value="desc">
        desc
      </option>
    </select>
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_WEB_LIST_THUMBS" class=
  "control-label col-md-4">ZM_WEB_LIST_THUMBS</label>

  <div class="col-md-6">
    <input id="ZM_WEB_LIST_THUMBS" type="checkbox" ng-change=
    "updateConfig('143', 'ZM_WEB_LIST_THUMBS')" ng-model=
    "myModel.configData['ZM_WEB_LIST_THUMBS']" ng-true-value="'1'"
    ng-false-value="'0'">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_WEB_LIST_THUMB_HEIGHT" class=
  "control-label col-md-4">ZM_WEB_LIST_THUMB_HEIGHT</label>

  <div class="col-md-6">
    <input id="ZM_WEB_LIST_THUMB_HEIGHT" type="text" ng-change=
    "updateConfig('145', 'ZM_WEB_LIST_THUMB_HEIGHT')" ng-model=
    "myModel.configData['ZM_WEB_LIST_THUMB_HEIGHT']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_WEB_LIST_THUMB_WIDTH" class=
  "control-label col-md-4">ZM_WEB_LIST_THUMB_WIDTH</label>

  <div class="col-md-6">
    <input id="ZM_WEB_LIST_THUMB_WIDTH" type="text" ng-change=
    "updateConfig('144', 'ZM_WEB_LIST_THUMB_WIDTH')" ng-model=
    "myModel.configData['ZM_WEB_LIST_THUMB_WIDTH']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_WEB_POPUP_ON_ALARM" class=
  "control-label col-md-4">ZM_WEB_POPUP_ON_ALARM</label>

  <div class="col-md-6">
    <input id="ZM_WEB_POPUP_ON_ALARM" type="checkbox" ng-change=
    "updateConfig('68', 'ZM_WEB_POPUP_ON_ALARM')" ng-model=
    "myModel.configData['ZM_WEB_POPUP_ON_ALARM']" ng-true-value=
    "'1'" ng-false-value="'0'">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_WEB_RESIZE_CONSOLE" class=
  "control-label col-md-4">ZM_WEB_RESIZE_CONSOLE</label>

  <div class="col-md-6">
    <input id="ZM_WEB_RESIZE_CONSOLE" type="checkbox" ng-change=
    "updateConfig('67', 'ZM_WEB_RESIZE_CONSOLE')" ng-model=
    "myModel.configData['ZM_WEB_RESIZE_CONSOLE']" ng-true-value=
    "'1'" ng-false-value="'0'">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_WEB_SOUND_ON_ALARM" class=
  "control-label col-md-4">ZM_WEB_SOUND_ON_ALARM</label>

  <div class="col-md-6">
    <input id="ZM_WEB_SOUND_ON_ALARM" type="checkbox" ng-change=
    "updateConfig('73', 'ZM_WEB_SOUND_ON_ALARM')" ng-model=
    "myModel.configData['ZM_WEB_SOUND_ON_ALARM']" ng-true-value=
    "'1'" ng-false-value="'0'">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_WEB_TITLE_PREFIX" class=
  "control-label col-md-4">ZM_WEB_TITLE_PREFIX</label>

  <div class="col-md-6">
    <input id="ZM_WEB_TITLE_PREFIX" type="text" ng-change=
    "updateConfig('66', 'ZM_WEB_TITLE_PREFIX')" ng-model=
    "myModel.configData['ZM_WEB_TITLE_PREFIX']" class=
    "form-control">
  </div>
</div><!-- End .form-group -->

<div class="form-group">
  <label for="ZM_WEB_USE_OBJECT_TAGS" class=
  "control-label col-md-4">ZM_WEB_USE_OBJECT_TAGS</label>

  <div class="col-md-6">
    <input id="ZM_WEB_USE_OBJECT_TAGS" type="checkbox" ng-change=
    "updateConfig('146', 'ZM_WEB_USE_OBJECT_TAGS')" ng-model=
    "myModel.configData['ZM_WEB_USE_OBJECT_TAGS']" ng-true-value=
    "'1'" ng-false-value="'0'">
  </div>
</div><!-- End .form-group -->
