<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ZoneMinder</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>


	{% include navigation.ext %}

	{% include jumbo.ext %}

	<div class="container-fluid">

		<div class="row">
			<div class="col-sm-9">

{% for post in site.posts %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">{{ post.title }}</h3>
	</div> 

	<div class="panel-body">
		{{ post.content }}
	</div>

	<div class="panel-footer">
		<span class="date">{{ post.date }}</span>
	</div>
</div>
{% endfor %}
	
			</div>

			<div class="col-sm-3">
				{% include latest_release.ext %}

				{% include post_index.ext %}
			</div>
		</div>

	</div>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>
