Package: zoneminder-ui-base
Source: zoneminder
Version: 1.29.0-vivid-38
Architecture: amd64
Maintainer: Isaac Connor <iconnor@connortechnology.com>
Installed-Size: 3810
Depends: zoneminder-core (= 1.29.0-vivid-38), libavcodec56 (>= 6:11~beta1) | libavcodec-extra-56 (>= 6:11.2), libavformat56 (>= 6:11~beta1), libavutil54 (>= 6:11~beta1), libc6 (>= 2.17), libcurl3 (>= 7.16.2), libgcc1 (>= 1:4.1.1), libjpeg8 (>= 8c), libmp4v2-2, libmysqlclient18, libpcre3, libssl1.0.0 (>= 1.0.0), libstdc++6 (>= 4.1.1), libswscale3 (>= 6:11~beta1), libvlc5 (>= 1.1.1), libx264-142, zlib1g (>= 1:1.1.4), debconf (>= 0.5) | debconf-2.0, debconf, apache2, libapache2-mod-php5 | libapache2-mod-fcgid, php5, php5-mysql | php5-mysqlnd
Section: web
Priority: optional
Description: Essential files for ZoneMinder's web user interface
 ZoneMinder is a video camera security and surveillance solution.
 .
 This package provides the essential web files and maintenance scripts to set up
 a basic web environment.
