# ZoneMinder systemd unit file
# This file is intended to work with debian distributions

[Unit]
Description=ZoneMinder CCTV recording and security system
After=network.target mysql.service apache2.service
Requires=apache2.service
Wants=mysql.service

[Service]
User=www-data
Type=forking
ExecStart=/usr/bin/zmpkg.pl start
ExecReload=/usr/bin/zmpkg.pl restart
ExecStop=/usr/bin/zmpkg.pl stop
PIDFile=/var/run/zm/zm.pid

[Install]
WantedBy=multi-user.target
