Source: zoneminder
Section: net
Priority: optional
Maintainer: Isaac Connor <iconnor@connortechnology.com>
Build-Depends: debhelper (>= 9), po-debconf (>= 1.0), autoconf, automake, libphp-serialization-perl, libgnutls-dev, libmysqlclient-dev | libmariadbclient-dev, libdbd-mysql-perl, libdate-manip-perl, libwww-perl, libjpeg8-dev | libjpeg9-dev | libjpeg62-turbo-dev, libpcre3-dev, libavcodec-dev, libavformat-dev (>= 3:0.svn20090204), libswscale-dev (>= 3:0.svn20090204), libavutil-dev, libv4l-dev (>= 0.8.3), libbz2-dev, libtool, libsys-mmap-perl, libavdevice-dev, libdevice-serialport-perl, libarchive-zip-perl, libmime-lite-perl, dh-autoreconf, libvlccore-dev, libvlc-dev, libcurl4-gnutls-dev | libcurl4-nss-dev | libcurl4-openssl-dev, libgcrypt11-dev | libgcrypt20-dev, libpolkit-gobject-1-dev, libdbi-perl, libnet-sftp-foreign-perl, libexpect-perl, libmime-tools-perl, libx264-dev, libmp4v2-dev, libpcre3-dev
Standards-Version: 3.9.6

Package: zoneminder
Section: metapackages
Architecture: all
Depends: ${misc:Depends},
 libzoneminder-perl (>= ${source:Version}),
 zoneminder-database (>= ${source:Version}),
 zoneminder-core (>= ${binary:Version}),
 zoneminder-ui-base (>= ${source:Version}),
 zoneminder-ui-classic (>= ${source:Version}),
 zoneminder-ui-mobile (>= ${source:Version}),
 zoneminder-ui-xml (>= ${source:Version})
Description: Video camera security and surveillance solution (metapackage)
 ZoneMinder is intended for use in single or multi-camera video security
 applications, including commercial or home CCTV, theft prevention and child
 or family member or home monitoring and other care scenarios. It
 supports capture, analysis, recording, and monitoring of video data coming
 from one or more video or network cameras attached to a Linux system.
 ZoneMinder also support web and semi-automatic control of Pan/Tilt/Zoom
 cameras using a variety of protocols. It is suitable for use as a home
 video security system and for commercial or professional video security
 and surveillance. It can also be integrated into a home automation system
 via X.10 or other protocols.

Package: libzoneminder-perl
Section: perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, libdbi-perl,
 libdevice-serialport-perl, libimage-info-perl, libjson-any-perl, libjson-maybexs-perl,
 libsys-mmap-perl, liburi-encode-perl, libwww-perl
Description: Perl libraries for ZoneMinder
 ZoneMinder is a video camera security and surveillance solution.
 .
 This package provides the libraries for the perl scripts, it can be used to
 write custom interfaces as well.

Package: zoneminder-database
Section: database
Architecture: all
Depends: ${misc:Depends}, debconf, dbconfig-common,
 mysql-client | mariadb-client
Recommends: mysql-server | mariadb-server
Description: Database management package for ZoneMinder
 ZoneMinder is a video camera security and surveillance solution.
 .
 This package provides the sql files and maintenance scripts to perform all the
 database operations (installation, upgrade or removal) on a local or a remote
 server.

Package: zoneminder-core
Section: video
Architecture: any
Depends: libzoneminder-perl (= ${source:Version}),
 zoneminder-database (= ${source:Version}), ${shlibs:Depends}, ${misc:Depends},
 ${perl:Depends}, libarchive-tar-perl, libarchive-zip-perl, libdate-manip-perl,
 libdbi-perl, libmodule-load-conditional-perl, libmime-lite-perl,
 libmime-tools-perl, libnet-sftp-foreign-perl, libphp-serialization-perl,
 debconf, ffmpeg | libav-tools, rsyslog | system-log-daemon, zip,
 policykit-1, apache2, libmp4v2-2, libpcre++0
Description: Core binaries and perl scripts for ZoneMinder
 ZoneMinder is a video camera security and surveillance solution.
 .
 This package provides the executable compiled binaries which do the main video
 processing work and the perl scripts which perform helper and/or external
 interface tasks.

Package: zoneminder-core-dbg
Priority: extra
Section: debug
Architecture: any
Depends: zoneminder-core (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for ZoneMinder
 ZoneMinder is a video camera security and surveillance solution.
 .
 This package provides the debugging symbols for the executable compiled
 binaries.

Package: zoneminder-ui-base
Section: web
Architecture: any
Depends: zoneminder-core (= ${binary:Version}), ${shlibs:Depends},
 ${misc:Depends}, debconf, apache2, libapache2-mod-php5 | libapache2-mod-fcgid,
 php5, php5-mysql | php5-mysqlnd, php5-gd
Description: Essential files for ZoneMinder's web user interface
 ZoneMinder is a video camera security and surveillance solution.
 .
 This package provides the essential web files and maintenance scripts to set up
 a basic web environment.

Package: zoneminder-ui-classic
Section: web
Architecture: all
Depends: zoneminder-ui-base (>= ${source:Version}), ${misc:Depends}
Description: Classic web user interface for ZoneMinder
 ZoneMinder is a video camera security and surveillance solution.
 .
 This package provides the classic web user interface.

Package: zoneminder-ui-mobile
Section: web
Architecture: all
Depends: zoneminder-ui-base (>= ${source:Version}), ${misc:Depends}
Description: Mobile web user interface for ZoneMinder
 ZoneMinder is a video camera security and surveillance solution.
 .
 This package provides the web user interface for mobile devices.

Package: zoneminder-ui-xml
Section: web
Architecture: all
Depends: zoneminder-ui-base (>= ${source:Version}), ${misc:Depends}
Description: XML interface for ZoneMinder
 ZoneMinder is a video camera security and surveillance solution.
 .
 This package provides a XML interface mainly intended for use with the eyeZm
 iPhone Application, but can be used with any other custom programs as well.
