#!/bin/sh
# config maintainer script for zoneminder-ui-base package

set -e

# Source the debconf stuff
. /usr/share/debconf/confmodule

# Do this when the package is installed, upgraded or reconfigured
# Most of answers are cached so the questions will not be asked again
if [ "$1" = "configure" ] || [ "$1" = "reconfigure" ]; then

    # Ask the user for the web server(s) to configure
    db_input high zoneminder/webserver || true
    db_go || true
fi

#DEBHELPER#

exit 0
