img {
	border: 1px solid black !important;
 }

.admonition-todo {
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  border-left: 2px solid red;
  border-right: 2px solid red;
  background-color: #ff6347 !important;
  }
