name: CI CentOS 7

on:
  push:
    branches:
      - '*'
  pull_request:
    branches: [ master ]

permissions:
  contents: read
  packages: read

jobs:
  build:
    strategy:
      matrix:
        crypto_backend: [ gnutls, openssl ]
        jwt_backend: [ libjwt, jwt_cpp ]
        exclude:
          - crypto_backend: gnutls
            jwt_backend: jwt_cpp
          - crypto_backend: gnutls
            jwt_backend: libjwt
    runs-on: ubuntu-latest
    container: ghcr.io/dougnazar/centos7-gcc8-zm:latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Prepare
        run: mkdir build
      - name: Configure
        run: source /usr/bin/scl_source enable devtoolset-8 && cd build && cmake3 --version && cmake3 .. -DBUILD_MAN=0 -DENABLE_WERROR=1 -DZM_CRYPTO_BACKEND=${{ matrix.crypto_backend }} -DZM_JWT_BACKEND=${{ matrix.jwt_backend }}
      - name: Build
        run: source /usr/bin/scl_source enable devtoolset-8 && cd build && make -j3 | grep --line-buffered -Ev '^(cp lib\/|Installing.+\.pm)' && (exit ${PIPESTATUS[0]})
