name: CI ESLint

on:
  push:
    branches:
      - '*'
  pull_request:
    branches: [ master ]

permissions:
  contents: read

jobs:
  eslint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: Install ESLint
        run: npm install eslint@9 @eslint/eslintrc @eslint/js globals eslint-config-google@0.14.0 eslint-plugin-html eslint-plugin-php-markup@6.0.0
      - name: Run ESLint
        run: npx eslint --ext .js.php,.js .
