.text {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size:10px; color: #333333; font-weight: normal}
.redtext {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size:10px; color: red; font-weight: bold}
.ambtext {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size:10px; color: orange; font-weight: bold}
.smallhead {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size:10px; color: #016A9D; font-weight: bold; line-height: 20px}
.head {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size:11px; color: #000066; font-weight: bold}
a:link {  color: #7F7FB2; text-decoration: none}
a:visited {  color: #000066}
a:hover {  color: #666699; text-decoration: underline}
.form {  border: 1px #7F7FB2 solid; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #333333}
.textsmall { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:9px; color: #333333; font-weight: normal}
.closetext { font-family: Verdana, Arial, Helvetica, sans-serif; font-size:10px; color: #333333; font-weight: normal; line-height: 12px }
